/* ==========================================================================
                            Custom Styles
   ========================================================================== */




textarea {
    resize: vertical;
}

a:hover {
    text-decoration: none;
    color:unset;
}
input{
    border: none;
    &:focus{
        outline: none;
    }
}
textarea{
    &:focus{
        outline: none;
    }
}

a{
    font-family: 'Raleway-SemiBold';
    transition: 0.5s;
}
// * html .clearfix {
//     height: 1%;
// }
// html{
//     height: 100%;
//     width: 100%;
// }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
        scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  
 
}


// img {
//     max-width: 100%;
// }

// .section{
//     // scroll-snap-align: center;
// }

.ease, a, input[type="submit"], button {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.relative {
    position: relative;
}

.clearfix {
    display: block;
    clear: both;

    &:after {
	    visibility: hidden;
	    display: block;
	    font-size: 0;
	    content: "";
	    clear: both;
	    height: 0;
	}
}

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.middle-div {
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.hori-div {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.bg-common {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



/* ==========================================================================
                            START HERE ->
   ========================================================================== */


.page-content{
    text-align: center;
        h2{
            font-family: 'RussoOne';
            font-size: 30px;
            color: #2a2a2a;
            span{
                color: #fff;
            }
        }
        .black-line{
            height: 5px;
            width: 60px;
            background-color: #2a2a2a;
            margin: 20px auto;
        }
        .description{
            width: 70%;
            margin: 0 auto;
            p{
                font-size: 18px;
                line-height: 1.7;
                font-family: 'Raleway-SemiBold';
            }

        }
}
    // for skill page section
        .my-skill{
            padding: 10rem 0;
            background: #9e9e9e;
                .complementary-content{
                        font-size: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        text-align: center;
                        color: #2a2a2a;
                        position: relative;
                        padding-bottom: 2rem;
                    .black-line{
                        height: 5px;
                        width: 60px;
                        background: #000;
                        border-radius: 10px;
                        margin: 0px auto 10px;
                        }
                        h2{
                            text-transform: uppercase;
                            padding-bottom: .5rem;
                            font-family: 'RussoOne';
                            font-weight: 800;
                            span{
                                color: #0077ff;
                            }

                        }
                        .sub-content{
                            width: 70%;
                            margin: 0 auto;
                            p{
                                font-size: 1rem;
                                font-family: 'Raleway-SemiBold';
                                line-height: 2;

                            }
                        }
                        
                }
            .main-content{
                // max-width: 1000px;
                //  margin: 0 auto;
                    .card-wrapper{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .card-container{    
                            width: 300px;
                            height: 300px;
                            background: #e2e2e1;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-evenly;
                            margin: 2rem 0;
                            // box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
                            box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
                            transition: all 0.5s ease;
                            cursor: pointer;
                            position: relative;
                            border-radius: 10px;
                            .card-caption{
                                margin-top: 30px;
                                h3{
                                    font-size: 20px;
                                    font-family: 'Roboto', sans-serif;
                                    font-weight: 800;
                                }
                            }
                                .chart{
                                    position: relative;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    z-index: 50;
                                        h1{
                                            font-size: 30px;
                                            margin-top: 5px;
                                            color: #2a2a2a;
                                        }
                                        canvas{
                                            position: absolute;
                                            transform: rotate(90deg);
                                            height: 140px;
                                            width: auto;
                                            object-fit: cover;
                                        }
                                }
                            &:hover{
                                transform: translateY(20%);
                            }

                            
                        }
                    }
                }
            }



.my-project{
        position: relative;
        padding: 10rem 0;
        .page-content{
            .black-line{
                border-radius: 10px;
                background-color: #fff;
            }
            h2{
                color: #0077ff;
            }
            p{
                color: #fff;
            }
        }
    .background-curve{
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            opacity: 0.5;
            height: 100%;
        }
    }


// for project slide carousel

.project-slides{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
}
.project-slides .item{
    border-radius: 10px;
}
.project-slides .card-background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin: 0 auto;
    height: 400px;
    width: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
}
.project-slides .card-background::after{
    position: absolute;
    content: '';
    background: rgba(6, 12, 34, 0.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 1;
}
.project-slides .card-background img{
    position: absolute;
    z-index: 20;
    object-fit: cover;
    height: auto;
    width: 100%;
    top: 40%;
    padding: 0px 26px;
    opacity: 1;
    z-index: 50;
}
.project-slides .card-background .overlay{
    display: flex;
    z-index: 20;
    opacity: 0;
    transition: .5s ease;
    border-radius: 10px;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #2a2a2a;
}
.project-slides .card-background .overlay .site-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.project-slides .card-background .overlay .site-content h2{
    font-size: 25px;
    text-transform: uppercase;
}
.project-slides .card-background .overlay .site-content h3{
    font-size: 18px;
    padding-top: 20px;
}

.project-slides .card-background:hover .overlay {
    opacity: 0.8;
    z-index: 20;
}
.project-slides .card-background:hover img {
    opacity: 0;
    z-index: 20;
}
.owl-carousel {
    display: block;
    width: 100%;
    z-index: 1;
}
.owl-carousel .owl-dots .owl-dot{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #0077ff;
    margin: 0 5px;
    border-radius: 50%; 
}
.owl-carousel .owl-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.owl-carousel .owl-dots .owl-dot.active{
    background: #ffffff;
    color: #fff;
    display: block;
    opacity: 1;
    height: 25px;
    width: 25px;
}
.owl-carousel .owl-stage-outer {
    border-radius: 10px;
}
.owl-carousel .owl-nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-carousel .owl-nav .owl-prev img{
   opacity: 1;
   z-index: 99;
}

.owl-carousel .owl-nav .owl-prev{
    position: absolute;
    left: 0;
    bottom: 150px;
}
.owl-carousel .owl-nav .owl-next{
    position: absolute;
    right: 0;
    bottom: 150px;
}


// contact page

    // .contact{
    //        position: relative;
    //         padding: 10rem 0;
    //         background: #9e9e9e;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
            
    //     .contact-bg{
    //         position: absolute;
    //         top: -2px;
    //         left: 0;
    //         width: 100%;
    //         height: 680px;
    //     }
    //     .content-caption{
    //         padding-bottom: 50px;
    //               h2{
    //                 font-size: 40px;
    //                 font-family: 'Raleway-Bold';
    //                 letter-spacing: 1px;
    //                 color: #fff;
    //                 span{
    //                     color: #004f76;
    //                 }
    //             }
    //             p{
    //                 font-size: 20px;
    //                 line-height: 1.5;
    //                 font-family: 'Raleway-SemiBold';
        
    //             }
    //         .black-line{
    //             height: 5px;
    //             width: 60px;
    //             background-color: #2a2a2a;
    //             margin: 10px auto;
    //             }
    //         }
    //     }
    //     .left-side{
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         flex-direction: column;
    //         .contact-info{
    //             padding-top: 20px;
    //             ul{
    //                 li{
    //                     list-style: none;
    //                     padding: 5px 0;
    //                     i{
    //                         color: #fff;
    //                         font-size: 20px;
    //                         padding-right: 10px;
    //                     }
    //                     a{
    //                         font-size: 18px;
    //                         color: #004f76;
    //                         letter-spacing: 1px;
    //                         font-family: 'Raleway-Bold';
    //                     }
    //                 }
    //             }
    //         }
    //         img{
    //             max-width: 250px;
    //         }
    //     }
    //     .input_field{
       
    //         margin: 10px auto;
    //         position: relative;
    //         z-index: 20;
    //             input{
    //                 &::placeholder{
    //                     font-family: 'Raleway-SemiBold';
    //                     text-transform: uppercase;
    //                 }
    //             display: block;
    //             border-radius: 10px;
    //             padding: 10px;
    //             width: 100%;
    //             border: 2px solid #949494;;
    //         }

    //         textarea{
    //             &::placeholder{
    //                 font-family: 'Raleway-SemiBold';
    //                 text-transform: uppercase;
    //             }   

    //                 width: 100%;
    //                 resize: none;
    //                 border-radius: 10px; 
    //                 padding: 10px;
    //                 border: 2px solid #949494;  
    //             }
    //         }
    //         .submit-button{
    //             text-align: center;
    //             position: relative;
    //             z-index: 20;
    //             width: 40%;
    //             margin: 20px auto 0;
    //             input[type="submit"]{
    //                 padding: 10px 20px;
    //                 text-transform: uppercase;
    //                 font-family: 'Raleway-Bold';
    //                 letter-spacing: 1px;
    //                 border: none;
        
    //             }
    //         }

.footer{
    padding: 30px 0 10px;
    width: 100%;
    background: #2a2a2a;
    border-top: 5px solid #000;
    text-align: center;
    
    &-caption{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // .links{
    //     ul{
    //         li{
    //             list-style: none;
    //             display: inline-block;
    //             padding: 0 20px;
    //             a{
    //                 font-size: 40px;
    //                 color: #fff;
    //             }
    //         }
    //     }
    //     img{
    //         max-width: 50px;
    //     }
    // }

    .copyright{
        h2{
        font-family: 'Raleway-Bold';
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
        position: relative;
            &::before{
            margin-right: 5px;
            content: '\f1f9';
            font-family: fontAwesome;
            font-size: 24px;
            position: relative;
            top: 3px;
            }   
        }
    }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0077ff;
    border-radius: 10px;
    transition: all 0.2s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// animation
#logo-animation{
    transition: all 2s;
  transition-timing: ease-in-out;
  &:hover {
    transform: rotate(1080deg);
  }
}

      

@import 'banner';
@import 'contact';
@import 'fonts';
@import 'buttons';
@import 'responsive';